	<h4>The modules are successfully installed! A few steps are remaining ...</h4>
	<div id="actions_reload"></div>
	<div class="clearfix"></div>
	<script>
		$(function() {
			product_install.update_overall_progress({{ current_overall_percent }});
			product_install.delayed_last_action_request();
		});
	</script>
