	<h4>The site is successfully updated! </h4>
	<div class="ln_solid"></div>
	<div class="form-group">
		<div class="col-xs-12">
			<a href="{{ site_url }}admin/install/product_updates"
                name="finish_install" class="btn btn-success">Finish</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<script>
		$(function() {
			product_install.update_overall_progress({{ current_overall_percent }});
		});
	</script>
