<div class="lc">
	<div class="inside account_menu">
		{% helper polls.show_poll_place_block({'one_poll_place': 0}) %}
		{% helper banners.show_banner_place('banner-185x155') %}
		{% helper banners.show_banner_place('banner-185x75') %}
	</div>
</div>
