<a id="moderation_link_settings" href="{{ site_url }}admin/moderation/settings/">
    {% helper lang.l('link_7', 'admin_home_page') %}
</a>{% if item_count %}<span class="tag">{{ item_count }}</span>{% endif %}
