<a id="users_link_settings" href="{{ site_url }}admin/start/menu/system-items">
    {% helper lang.l('link_23', 'admin_home_page') %}
</a>{% if item_count %}<span class="tag pull-right">{{ item_count }}</span>{% endif %}
