<label class="control-label col-xs-12">
  {% helper lang.l('field_amount', 'users_payments') %}: </label>
<input type="text" name="amount" value="" class="form-control"
  id="add_fund_amount" autofocus="autofocus">
<script type="text/javascript">
    setTimeout("$('#add_fund_amount').focus()", 100);
</script>
