{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title h4">
        {% helper lang.l('btn_add', 'kisses') %}
      </div>
      <div class="x_content">
            <div id="new_kiss"></div>
            <form method="post" enctype="multipart/form-data" data-parsley-validate
                  class="form-horizontal form-label-left" name="save_form"
                  action="{{ site_url }}kisses/post_form" id="kisses_form" name="kisses_form">
                <br>
                <div id="kisses_post_upload_form" class="">
                    <div class="form-group">
                      <label class="control-label col-sm-3 col-xs-12">
                        {% helper lang.l('image', 'kisses') %}*</label>
                      <div class="col-sm-9 col-xs-12">
                        <div class="drag">
                              <div id="dndfiles" class="drag-area"><ins>{% helper lang.l('drag_files', 'kisses') %}</ins></div>
                              <div class="upload-btn">
                                  <span data-role="filebutton">
                                      <p>{% helper lang.l('btn_choose_file', 'start') %}</p>
                                      <input type="file" name="multiupload" id="multiupload" multiple class="form-control">
                                  </span>
                                  {% if kisses_params.image_upload_config.max_size %}
                                      &nbsp;({% helper lang.l('max', 'kisses') %}. {% if kisses_params.image_upload_config.max_size %}{% helper utils.bytes_format(kisses_params.image_upload_config.max_size) %} {% helper lang.l('images', 'kisses') %}. {% endif %})
                                  {% endif %}
                              </div>
                              &nbsp;<span id="attach-input-error"></span>
                              <div id="attach-input-warning"></div>
  			                </div>
                      </div>
                    </div>
		            </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-sm-9 col-xs-12 col-sm-offset-3">
                        <input class="btn btn-success" type="button" 
                            value="{%  helper lang.l('btn_send', 'start') %}" name="btn_send" id="btn_send" />
                        <a class="btn btn-default" href="{{ site_url }}admin/kisses">
                            {% helper lang.l('btn_cancel', 'start') %}</a>
                    </div>
                </div>
            </form>
	</div>
    </div>
</div>

<script type="text/javascript">
    var kisses;
    var param='sorter/ASC/';
    var reload_link = "{{ site_url }}admin/kisses/";

    $(function(){
        var kisses_params = {% helper utils.json_encode(kisses_params) %} || {};
        kisses_params.uploaded = true;
        loadScripts(
            "{% helper utils.jscript('', 'uploader.js', 'path') %}",
            function(){
                var lang_data = {
                        errors: {
                            file_missing: "{% helper lang.l('error_file_missing', 'uploads') %}"
                        }
                    };
                mu = new uploader({
                    Accept: 'application/json',
                    siteUrl: site_url,
                    uploadUrl: kisses_params.url_upload,
                    zoneId: 'dndfiles',
                    fileId: 'multiupload',
                    formId: 'kisses_form',
                    sendType: 'file',
                    sendId: 'btn_send',
                    messageId: 'attach-input-error',
                    warningId: 'attach-input-warning',
                    maxFileSize: kisses_params.max_upload_size,
                    mimeType: kisses_params.allowed_mimes,
                    lang: lang_data,
                    cbOnComplete: function(data){
                        if (data.errors && data.errors.length) {
                            //error_object.show_error_block(data.errors, 'error');
                            kisses_params.uploaded = false;
                        }
                    },
                    cbOnQueueComplete: function(){
                        if (kisses_params.uploaded) {
                            reload_this_page('index/'+param);
                        }
                        /*kisses_params.uploaded = true;*/
                    },
                    createThumb: true,
                    thumbCrop: false,
                    thumbJpeg: false,
                    fileListInZone: true,
                    jqueryFormPluginUrl: "{% helper utils.jscript('', 'jquery.form.min.js', 'path') %}"
                });
            },
            ['mu'],
            {async: false}
        );
    });

    function reload_this_page(value){
        var link = reload_link + value;
        location.href = link;
    }
</script>

{% include '@app/footer.twig' %}
