<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">15</span>
        <a data-pjax="0" href="dating/">
            My favourites
        </a>
    </li>
    <li class="list-group-item">
        <span class="badge">15</span>
        <a data-pjax="0" href="dating/">
            My matches
        </a>
    </li>
    <li class="list-group-item">
        <span class="badge">15</span>
        <a data-pjax="0" href="dating/">
            Visits
        </a>
    </li>
    <li class="list-group-item">
        <span class="badge">15</span>
        <a data-pjax="0" href="dating/">
            My winks
        </a>
    </li>
    <li class="list-group-item">
        <span class="badge">15</span>
        <a data-pjax="0" href="dating/">
            My kisses
        </a>
    </li>
    <li class="list-group-item">
        <span class="badge">15</span>
        <a data-pjax="0" href="dating/">
            Peaople near me
        </a>
    </li>
</ul>
