/* reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
body{line-height: 1;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none;}
table{border-collapse: collapse; border-spacing: 0;}
img{border: none;}
s, i, b, ins, del{text-decoration: none; font-style: normal;}
/* */

td{vertical-align: top;}

.clr{clear: both}
img{border: none}
.fright{float: left !important}
.fleft{float: right !important}
.pointer{cursor: pointer;}

.w700{width: 700px;}
.w500{width: 500px;}
.w400{width: 400px;}
.w350{width: 350px;}
.w300{width: 300px;}
.w200{width: 200px;}
.w150{width: 150px;}
.w125{width: 125px;}
.w110{width: 110px;}
.w100{width: 100px;}
.w70{width: 70px;}
.w50{width: 50px;}
.w30{width: 30px;}
.w20{width: 20px;}
.wp100{width: 100%;}
.maxw200{max-width: 200px;}
.maxwp100{max-width: 100%;}
.hp100{height: 100%;}
.dimp100{width: 100%; height: 100%;}

.ml500{margin-right: 510px;}
.ml400{margin-right: 410px;}
.ml350{margin-right: 360px;}
.ml300{margin-right: 310px;}

.h300{height: 300px;}
.h200{height: 200px;}
.h150{height: 150px;}
.h125{height: 125px;}
.minh100{min-height: 100px;}
.minh200{min-height: 200px;}
.maxh250{max-height: 250px;}
.maxh150{max-height: 150px;}

.p0{padding: 0;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p20{padding: 20px;}
.ptb5{padding-top: 5px; padding-bottom: 5px;}
.ptb10{padding-top: 10px; padding-bottom: 10px;}
.ptb20{padding-top: 20px; padding-bottom: 20px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.plr5{padding-right: 5px; padding-left: 5px;}
.plr10{padding-right: 10px; padding-left: 10px;}
.plr20{padding-right: 20px; padding-left: 20px;}
.plr50{padding-right: 50px; padding-left: 50px;}
.pl5{padding-right: 5px;}
.pl10{padding-right: 10px;}
.pl20{padding-right: 20px;}
.pl50{padding-right: 50px;}
.pr5{padding-left: 5px;}
.pr10{padding-left: 10px;}
.pr20{padding-left: 20px;}
.pr50{padding-left: 50px;}
.m0{margin: 0;}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m20{margin: 20px;}
.mtb5{margin-top: 5px; margin-bottom: 5px;}
.mtb10{margin-top: 10px; margin-bottom: 10px;}
.mtb20{margin-top: 20px; margin-bottom: 20px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mlr5{margin-right: 5px; margin-left: 5px;}
.mlr10{margin-right: 10px; margin-left: 10px;}
.mlr20{margin-right: 20px; margin-left: 20px;}
.ml5{margin-right: 5px;}
.ml10{margin-right: 10px;}
.ml20{margin-right: 20px;}
.mr5{margin-left: 5px;}
.mr10{margin-left: 10px;}
.mr20{margin-left: 20px;}
.mrb5{margin-left: 5px; margin-bottom: 5px;}
.mrb10{margin-left: 10px; margin-bottom: 10px;}
.mrb20{margin-left: 20px; margin-bottom: 20px;}


#error_block, #info_block, #success_block{display: none}

.lang-mark{background: #FFFF00 !important; border: solid 1px #FFFF00; color: #333333}
.lang-button-mark{border: solid 3px #FF0000 !important}
#lang_editor_js_block{position: fixed; bottom: 2px; left: 2px; z-index: 2000; width: 40%; background: #ffffff; border: solid 1px #444444; text-align: right}
#lang_handle{margin: 1px; background: #999999; line-height: 22px; padding-right: 10px; color: #ffffff; font-weight: bold; cursor: pointer}
#lang_editor_js_block  #lang_editor_content{height: 200px; overflow: scroll}
#lang_editor_js_block .ledit{line-height: 20px; margin: 1px 1px 2px; background: #eeeeee; padding: 5px}
#lang_editor_js_block .ledit .name{width: 150px; float: right; overflow: hidden}
#lang_editor_js_block .ledit .value{margin-right: 160px; cursor: pointer}
#lang_editor_js_block .ledit .value input{border: solid 1px #676767; color: #555555}
#lang_editor_js_block .ledit .value .hide_text{color: #cccccc; font-style: italic}

.p-top2{padding-top: 2px}
.ib{display: inline-block;}
.absolute{position:absolute;}
.relative{position:relative;}
.center{text-align:center;}