<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="contrasting-block row g-bestsellers-gallery">
        <div class="title-block ml5" data-title="{% helper lang.l('field_bestsellers', 'store') %}" data-id="bestsellers-title" id="bestsellers-title">{% helper lang.l('field_bestsellers', 'store') %}</div>
        {% for item in bestsellers.media %}
        <div class="g-users-gallery__item col-xs-4 col-md-3 col-lg-2 bestseller">
            <div class="g-users-gallery__photo ">
                <a href="{% helper seo.seolink('store', 'product', item) %}" class="g-pic-border g-rounded g-users-gallery__photo-img">
                    {% if item.media.mediafile.thumbs[bestsellers.thumb_name] is not empty %}
                        <img src="{{ item.media.mediafile.thumbs[bestsellers.thumb_name] }}" class="pointer img-responsive">
                    {% else %}
                        <div class="default-{{ bestsellers.thumb_name }}-image b0">
                            <i class="fa fa-gift fa-5x"></i>
                        </div>
                    {% endif %}
                </a>
            </div>
            <div class="info">
                <a href="{% helper seo.seolink('store', 'product', item) %}">
                    <div class="text-overflow">
                        {{ item.name }}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
