<a id="users_link_settings" href="{{ site_url }}admin/users/index/not_active">
    {% helper lang.l('link_15', 'admin_home_page') %}
</a>{% if item_count %}<span class="tag pull-right">{{ item_count }}</span>{% endif %}
