<a id="users_link_settings" href="{{ site_url }}admin/payments/paymentsList">
    {% helper lang.l('link_19', 'admin_home_page') %}
</a>{% if item_count %}<span class="tag pull-right">{{ item_count }}</span>{% endif %}
