{% include '@app/header.twig' %}

<div class="content-block">
	<h1>{% helper lang.l('header_blog', 'blogs') %}</h1>
	{% include 'blog_menu.twig' %}
	{% include 'block_blogs_list.twig' %}
</div>
<div class="clr"></div>

{% include '@app/footer.twig' %}