$html_bg: #EEEEF4;
$main_bg: #38889F;
$header_bg: #38889F;
$footer_bg: #EEEEF4;
$input_color: #289FBE;
$input_bg_color: #FFFFFF;
$status_color: #A12847;
$link_color: #428BCA;
$font_color: #111111;
$header_color: #111111;
$descr_color: #777777;
$contrast_color: #AAAAAA;
$delimiter_color: #DDDDDD;
$indicator_color: #A12847;
$content_bg: #FFFFFF;
$main_font_size: 13px;
$input_font_size: 15px;
$h1_font_size: 20px;
$h2_font_size: 17px;
$small_font_size: 12px;
$search_btn_font_size: 22px;
$alert_error_bg: #FF0000;
$alert_error_color: #FFFFFF;
$alert_success_bg: #DFF0D8;
$alert_success_color: #3C763D;
$alert_info_bg: #FFFFFF;
$alert_info_border: #BCE8F1;
$alert_info_color: #111111;
$alert_warning_bg: #506073;
$alert_warning_color: #FFFFFF;
$index_bg_size: auto auto;
$index_bg_image: '';
$index_bg_image_scroll: 0;
$index_bg_image_adjust_width: 0;
$index_bg_image_adjust_height: 0;
$index_bg_image_repeat_x: 0;
$index_bg_image_repeat_y: 0;
$index_bg_image_ver: '';
