.lang-mark {
    background: #FFFF00 !important; 
    border: solid 1px #FFFF00;
}

.lang-button-mark {
    border: solid 3px #FF0000 !important;
}

#lang_editor_js_block {
    position: fixed; 
    bottom: 2px; 
    #{$right}: 2px; 
    z-index: 2000; 
    width: 40%; 
    background: $content_bg; 
    border: solid 1px #444;
}

#lang_handle {
    margin: 1px; 
    background: #999; 
    line-height: 22px; 
    padding-#{$left}: 10px; 
    color: #fff; 
    font-weight: bold; 
    cursor: pointer;
}

#lang_editor_js_block #lang_editor_content {
    height: 200px; 
    overflow: scroll;
}

#lang_editor_js_block .ledit {
    line-height: 20px; 
    margin: 1px 1px 2px; 
    background: #eeeeee; 
    padding: 5px;
}

#lang_editor_js_block .ledit .name {
    width: 150px; 
    float: left;
}

#lang_editor_js_block .ledit .value {
    margin-left: 160px; 
    cursor: pointer;
}

#lang_editor_js_block .ledit .value input {
    border: solid 1px $indicator_color; 
    color: $indicator_color;
}

#lang_editor_js_block .ledit .value .hide_text {
    color: #ccc; 
    font-style: italic;
}
