<a id="spam_link_settings" href="{{ site_url }}admin/spam/index">
    {% helper lang.l('link_13', 'admin_home_page') %}
</a>{% if item_count %}<span class="tag pull-right">{{ item_count }}</span>{% endif %}
