{% if currencies|length > 1 %}
<li>
	<select onchange="javascript: load_currency(this.value);">
		{% for item in currencies %}
            <option value="{{ item.id }}" {% if item.is_default %}selected{% endif %}>{{ item.gid }}</option>
        {% endfor %}
	</select>
	<script>
		var currency_url = '{{ site_url }}users/change_currency/';
		function load_currency(value) {
			locationHref(currency_url + value);
		}
	</script>
</li>
{% endif %}
