<div class='iframe-container'>
	<iframe src="{{ url|e }}" scrolling="no" id="adminPage" onLoad="autoResize('adminPage');"></iframe>
</div>
<a class="btn btn-default" href="{{ site_url }}admin/chats">
	{% helper lang.l('btn_ok', 'start') %}</a>
