<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12">
		{% helper lang.l('flashchat_client_type', 'chats') %}:</label>
	<div class="col-md-9 col-sm-9 col-xs-12">
		<label>
			<input name="settings[server_settings][by_flashchat][client_type]" type="radio" value="htmlchat" class="flat"
				   {% if chat.settings.server_settings.by_flashchat.client_type == 'htmlchat' %}checked="checked"{% endif %}>
			{% helper lang.l('flashchat_client_type_htmlchat', 'chats') %}
		</label>
		<label>
			<input name="settings[server_settings][by_flashchat][client_type]" type="radio" value="flashchat" class="flat"
				   {% if chat.settings.server_settings.by_flashchat.client_type == 'flashchat' %} checked="checked"{% endif %}>
			{% helper lang.l('flashchat_client_type_flashchat', 'chats') %}
		</label>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12">
		{% helper lang.l('flashchat_client_location', 'chats') %}:</label>
	<div class="col-md-9 col-sm-9 col-xs-12">
		<input name="settings[server_settings][by_flashchat][client_location]" type="text"
			   value="{{ chat.settings.server_settings.by_flashchat.client_location }}" class="form-control">
        <p>{% helper lang.l('flashchat_by_flashchat_client_example', 'chats') %}:</p>
        <p>{% helper lang.l('flashchat_by_flashchat_client_note', 'chats') %}</p>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12">
		{% helper lang.l('flashchat_integration_url', 'chats') %}:</label>
	<div class="col-md-9 col-sm-3 col-xs-12">
		{% helper lang.l('flashchat_integration_url_note', 'chats') %}:
		<p class="text-overflow"><mark>{{ login_url }}</mark></p>
	</div>
</div>
