<div class="content-block load_content">
    <h1>
        {% helper lang.l('header_view_association', 'associations') %}
    </h1>
    <div class="association-popup" id="association_content"></div>
</div>
