<button id="btn_write_message_{{ message_button_rand }}" class="btn btn-secondary">{% helper lang.l('link_message_send', 'mailbox') %}</button>
<script>
$(function(){
    loadScripts(
        ["{% helper utils.jscript('', 'available_view.js', 'path') %}", "{% helper utils.jscript('mailbox', 'mailbox-flatty.js', 'path') %}"],
        function(){
            access_available_view = new available_view({
                siteUrl: site_url,
                checkAvailableAjaxUrl: 'mailbox/ajax_available_access_mailbox/',
                buyAbilityAjaxUrl: 'mailbox/ajax_activate_send_message/',
                buyAbilityFormId: 'ability_form',
                buyAbilitySubmitId: 'ability_form_submit',
                success_request: function(message){
                    mb.write_message({{ user_id }}, 'short');
                },
                fail_request: function(message){
                    error_object.show_error_block(message, 'error');
                },
            });
            mb = new mailbox({
                siteUrl: site_url,
                contactId: '',
                accessAvailableView: access_available_view,
                loadContent: true,
                writeMessageButton: '#btn_write_message_{{ message_button_rand }}'
            });
        },
        ['access_message_available_view','mb'],
        {async: false}
    );
});
</script>
