<div>
	<a href="{% helper seo.seolink('mailbox', 'index') %}" class="value fleft">
        {% helper lang.l('new_messages', 'start') %}
    </a>
    <span class="digit">
        {{ messages_count }}
    </span>
</div>
