<div class="bottom-btns__item" id="shoutbox">
    <button type="button" id="shoutbox_btn"
            data-status-class="{{ im_data.user_status.current_site_status_text }}"
            class="btn btn-default btn-sm">
        Shoutbox <i data-flash="0" class="fa fa-bullhorn"></i>
    </button>
</div>
