<div class="load_content_controller">
    <h1>{% helper lang.l('header_country_select', 'countries') %}</h1>
    <div class="inside">
        <ul class="controller-items" id="country_select_items"></ul>    
        <div class="controller-actions">
            <div class="fright">
                <a href="javascript:void(0);" id="country_select_close" class="btn-link"><i class="icon-arrow-left icon-big edge"></i><i>{% helper lang.l('link_close', 'countries') %}</i></a>
            </div>
        </div>

    </div>
</div>