<label class="control-label col-md-3 col-sm-3 col-xs-12">
    {% helper lang.l('field_html', 'banners') %}:
</label>
<div class="col-md-6 col-sm-6 col-xs-12">
    <textarea name="html" class="form-control">{{ data.html|e }}</textarea>
</div>
