<a class="panel-heading collapsed" role="tab" id="headingThree1"
    data-toggle="collapse" data-parent="#accordion1"
    href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
    <h4 class="panel-title">{% helper lang.l('stat_header_banners', 'banners') %}</h4>
</a>
<div id="collapseThree1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree1">
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>
                    <a id="banners_link_user" href="{{ site_url }}admin/banners/index/user">
                        {% helper lang.l('stat_header_moderation_banners', 'banners') %}</a>
                </td>
                <td>
                    <a id="banners_link_user_num" href="{{ site_url }}admin/banners/index/user">
                        {{ stat_banners.users }}</a>
                </td>
            </tr>
        </table>
    </div>
</div>
