<a id="spam_link_settings" href="{{ site_url }}admin/banners/index/user">
    {% helper lang.l('link_24', 'admin_home_page') %}
</a>{% if item_count %}<span class="tag pull-right">{{ item_count }}</span>{% endif %}
