{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                {% helper menu.get_admin_level1_menu('admin_incomplete_signup_menu') %}
            </ul>
        </div>
        <div class="x_content">
            <form method="post" enctype="multipart/form-data" data-parsley-validate
                  class="form-horizontal form-label-left" name="save_form"
                  action="{{ data.action }}">
                <div class="form-group">
                    <label class="control-label col-sm-3 col-xs-12">
                      {% helper lang.l('field_show_delay', 'incomplete_signup') %}:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="show_delay" value="{{ settings_data.show_delay }}" class="form-control" id="show_delay"> {% helper lang.l('date_format_minutes', 'start') %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 col-xs-12">
                      {% helper lang.l('field_timeout_send_data', 'incomplete_signup') %}:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="timeout_send_data" value="{{ settings_data.timeout_send_data }}" class="form-control" id="timeout_send_data"> {% helper lang.l('date_format_seconds', 'start') %}
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-3">
                        <input type="submit" name="btn_save" value="{% helper lang.l('btn_save', 'start', '', 'button') %}" class="btn btn-success">
                        <a class="btn btn-default" href="{{ site_url }}admin/start/menu/add_ons_items">{% helper lang.l('btn_cancel', 'start') %}</a>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>

{% include '@app/footer.twig' %}
