<form class="view-fields" role="form" name="changePasswordForm" ng-submit="submit()">
	<b ng-bind="l('field_password')"></b>
	<div id="password" class="form-group" ng-class="{'has-error': alerts.password}">
		<input type="password" autocomplete="off"
			   placeholder="{{l('field_password')}}" class="form-control"
			   ng-model="password" required/>
	</div>
	<b ng-bind="l('field_repassword')"></b>
	<div id="password" class="form-group" ng-class="{'has-error': alerts.repassword}">
		<input type="password" autocomplete="off"
			   placeholder="{{l('field_repassword')}}" class="form-control"
			   ng-model="repassword" required/>
	</div>
	<div class="form-group">
		<button type="submit" class="col-xs-12 btn btn-primary btn-lg"
				ng-disabled="checkForm()" ng-bind="l('btn_save')"></button>
	</div>
</form>