<a href="{% helper seo.seolink('users', 'account', 'update') %}" title="{% helper lang.l('header_account_update', 'users') %}" data-pjax-no-scroll="1">
	<span class="user-short-inf__currency">{% helper start.currency_format_output({'value': user_account}) %}</span>&nbsp;
	<button class="btn btn-default btn-xs"><i class="fa fa-plus"></i></button>
</a>
