{% if auth_type == 'user' %}
    <ul><li>{% helper lang.l('welcome', 'users') %}&nbsp;<a id="users_link_profile" href="{% helper seo.seolink('users', 'profile') %}">{{ user_session_data.output_name }}</a>!</li></ul>
{% endif %}

<ul id="ajax_login_link_menu">
    <li{% if auth_type == 'user' %} class="hide-always"{% endif %}>
        <a id="ajax_login_link" href="{% helper seo.seolink('users', 'login_form') %}" onclick="return false;">
            {% helper lang.l('header_login', 'users') %}
        </a>
    </li>
</ul>

<script>
    $(function () {
        
        $('#ajax_login_link').click(function () {
            $.ajax({
                url: site_url + 'users/ajax_login_form',
                cache: false,
                success: function (data) {
                    user_ajax_login = new loadingContent({
                        loadBlockWidth: '520px',
                        linkerObjID: 'ajax_login_link_menu',
                        loadBlockLeftType: 'right',
                        loadBlockTopType: 'bottom',
                        closeBtnClass: 'w'
                    }).update_css_styles({'z-index': 2000}).update_css_styles({'z-index': 2000}, 'bg');
                    user_ajax_login.show_load_block(data);
                }
            });
            return false;
        });
    });
</script>
