<h1>Добро пожаловать на самый конфиденциальный сервис знакомств в мире</h1>
<div class="form-group">
  <ul>
    <li>У большинства мужчин на сайте есть фотографии.</li>
    <li>Мы уважаем ваше право на приватность, поэтому мы создали различные инструменты
      для сохранения вашей тайны.</li>
  </ul>
</div>
<form method="POST" enctype="multipart/form-data" class="hide" id="item_form">
  <input type="file" name="user_logo" id="user_logo">
</form>
<button type="button" class="btn btn-primary" id="photo-upload">
  Добавить конфиденциальное фото</button>
<a href="javascript:;" id="photo-skip">Skip</a>
