<div name="html5chat" id="html5chat">
	<iframe src="{{ url }}" height="650" width="980"
			vspale="0" scrolling="no" noresize="noresize" name="htmlchat"
			marginwidth="0" marginheight="0" framespacing="0" frameborder="0" border="0"></iframe>
</div>
