<form class="view-fields" role="form" name="imageForm" ng-submit="submit()">
	<div class="form-group text-center">
		<div ng-click="$parent.regData.user_icon=null" ng-if="$parent.regData.user_icon" ng-thumb="{file:$parent.regData.user_icon, height:100}"></div>
		<div ng-if="!$parent.regData.user_icon" class="default-avatar btn-file fa fa-user">
			<span class="fa fa-plus-circle"></span>
			<input type="file" accept="image/*;capture=camera" class="form-control" ng-file-select="fileSelect($files)">
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="col-xs-12 btn btn-primary btn-lg"
				ng-disabled="isSaveDisabled()" ng-bind-html="$parent.regData.user_icon ? l('btn_next') : l('btn_skip')"></button>
	</div>
</form>