<a id="users_link_settings" href="{{ site_url }}admin/themes/edit_set/{{ theme }}/{{ scheme }}">
    {% helper lang.l('link_22', 'admin_home_page') %}
</a>{% if item_count %}<span class="tag pull-right">{{ item_count }}</span>{% endif %}
