<div class="menu-alerts-more-item clearfix {% if not winks_count %}hide-always{% endif %}">
    <a id="winks_link_index" href="{{ site_url }}winks">
        {% helper lang.l('winks', 'winks') %}:
        <b class="summand winks_count fright">
            {{ winks_count }}
        </b>
    </a>
</div>
