@import "config";

$dir: get_language_dir();

$left: left;
$right: right;

@if $dir == "rtl" {
    $left: right;
    $right: left;
}

html {
	visibility: visible;
}
a, 
a:hover,
a:focus {
	color: $main_bg;
	text-decoration: none;
}
body {
	background-color: $html_bg;
}
.badge {
	background-color: $header_color;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
.open .dropdown-toggle.btn-default {
	background-color: $html_bg;
	color: $main_bg;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background-color: $main_bg;
	border-color: $main_bg;
}
.btn-group > .btn-primary {
	color: $main_bg;
	background-color: $input_bg_color;
	border-color: $input_bg_color;
}
.btn-group > .btn-primary:hover, .btn-group > .btn-primary.active {
	color: #FFF;
	background-color: $main_bg;
	border-color: $main_bg;
}
.suggest .btn-primary {
	color: $main_bg;
}
.datepicker button strong,
.datepicker button strong:active,
.datepicker button span,
.datepicker button span:active {
	color: $main_bg;
}

.default-avatar  span {
	color: $main_bg;
}
.dropdown-menu-central.nav-stacked {
    background-color: $main_bg;
}
.dropdown-menu-central.nav-stacked > li {
    background-color: $main_bg;
}
.dropdown-menu-central.nav-stacked > li > a {
    color: #fff;
}
.logo path {
    fill: $main_bg;
}
.loading-indicator {
    background-color: $html_bg;
}
.form-control:focus {
	border-color: $main_bg;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 103, 103, 0.6);
}
.left-menu{
	background-color: $html_bg;
}
.menu-central .nav-stacked {
	background-color: $main_bg;
}
.menu-central .nav-stacked > li {
	background-color: $main_bg;
}
.menu-central .nav-stacked > li > a {
	color: #FFF;
}
.modal {
	background-color: $content_bg;
}
.navbar-default {
	background: $main_bg;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: $main_bg;
}
.nav-pills > li > i {
	color: $header_color;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: $main_bg;
	color: #FFF;
}
.nav > .ng-click-active {
	background-color: #EEE;
}
.nav-stacked .highlight {
	background-color: #FDEDF5;
}
.pg-btn-container {
	border-top-color: $html_bg;
	border-bottom-color: $html_bg;
}
.pg-btn-container>div {
	border-bottom-color: $html_bg;
}
.pg-btn-container>div>button, .pg-btn-container>div>button:hover {
	border-#{$left}-color: $html_bg;
}
.switch {
	background-color: $main_bg;
}
.view-fields {
	background-color: $content_bg;
}
.wells .well {
	background-color: $content_bg;
    border: 1px solid $html_bg;
	border-radius: 0;
}
.wells span {
	color: $header_color;
}
