/* reset wysivyg */
.wysiwyg * {
    color: inherit;
}

.wysiwyg a {
    color: $main_bg; 
    text-decoration: none; 
    cursor: pointer;
}

.wysiwyg address {
    font-style: italic;
}

.wysiwyg blockquote {
    display: block; 
    margin: 1.12em 40px; 
    unicode-bidi: embed;
}

.wysiwyg em {
    font-style: italic;
}

.wysiwyg h1 {
    font-size: 2em; 
    margin: .67em 0; 
    padding: 0;
}

.wysiwyg h2 {
    font-size: 1.5em; 
    margin: .75em 0; 
    padding: 0;
}

.wysiwyg h3 {
    font-size: 1.17em; 
    margin: .83em 0; 
    padding: 0;
}

.wysiwyg h5 {
    font-size: .83em; 
    margin: 1.5em 0;
}

.wysiwyg h6 {
    font-size: .75em; 
    margin: 1.67em 0;
}

.wysiwyg li {
    display: list-item;
}

.wysiwyg ol, .wysiwyg ul {
    display: block; 
    padding-#{$left}: 20px; 
    unicode-bidi: embed;
}

.wysiwyg ol {
    margin: 1.12em 0; 
    list-style-type: decimal;
}

.wysiwyg p {
    margin: 1.12em 0;
}

.wysiwyg pre {
    margin: 1em 0;
}

.wysiwyg s {
    text-decoration: line-through;
}

.wysiwyg strong {
    font-weight: bolder;
}

.wysiwyg ul {
    margin: 1.12em 0; 
    list-style-type: disc;
}
